@model BindingBooks.Models.Genre

@{
    ViewBag.Title = "Create";
    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br/>
        <h2 id="page-title">Create New Genre</h2>
        <hr/>
        
        <div class="form-group">
            @Html.LabelFor(m=>m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m=>m.Name, new { htmlAttributes = new { @class = "form-control"}})
                @Html.ValidationMessageFor(m=>m.Name, "", new { @class = "text-danger"})
            </div>
        </div>

    </div>
    <br/>
    
    <div>
        @Html.Partial("_BackToListButtonPartial")
        <input type="submit" class="btn btn-sm btn-success"/>
    </div>
}