@model BindingBooks.Models.MembershipType

@{
    ViewBag.Title = "Details";
    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br/>
        <h2 id="page-title">Membership Type Details</h2>
        <hr/>
        
        <div>
            @Html.HiddenFor(model => model.Id)
            
            <fieldset disabled>
                <div class="row">
            
                <br/>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SignUpFee, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.SignUpFee, new { htmlAttributes = new { @class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.SignUpFee, "", new { @class = "text-danger"})
                    </div>
                </div>
    
                <div class="form-group">
                    @Html.LabelFor(model => model.ChargeRateOneMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ChargeRateOneMonth, new { htmlAttributes = new { @class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ChargeRateOneMonth, "", new { @class = "text-danger"})
                    </div>
                </div>
    
                <div class="form-group">
                    @Html.LabelFor(model => model.ChargeRateSixMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ChargeRateSixMonth, new { htmlAttributes = new { @class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ChargeRateSixMonth, "", new { @class = "text-danger"})
                    </div>
                </div>
            </div> 
            </fieldset>
        </div>
    </div>
    <br/>
    
    <div>
        @Html.Partial("_BackToListButtonPartial")        
        @Html.Partial("_EditButtonPartial", Model.Id)
    </div>
}