@using BindingBooks.Models

@model IEnumerable<MembershipType>


@{
    ViewBag.Title = "Membership Types";
    
}

<br/>
<h2 id="page-title">Manage Membership Types</h2>
<hr/>


<table id="membership-table" class="table table-hover">
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(m=>m.Name)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.SignUpFee)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.ChargeRateOneMonth)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.ChargeRateSixMonth)
        </th>
        <th></th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td class="name">
                @Html.DisplayFor(m=>item.Name)
            </td>
            <td>
                @Html.DisplayFor(m=>item.SignUpFee)
            </td>
            <td>
                @Html.DisplayFor(m=>item.ChargeRateOneMonth)
            </td>
            <td>
                @Html.DisplayFor(m=>item.ChargeRateSixMonth)
            </td>
            <td>
                @Html.Partial("_TableButtonPartial", new IndividualButtonPartial
                {
                    Id = item.Id
                })
            </td>
        </tr>
    }
</table>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>

